/*GERAL*/
	
body{font-family: 'Montserrat', sans-serif; margin: 0;font-size: 16px;}
*{box-sizing:border-box;}
h1, h2, h3, h4, figure,p{margin:0;}
a{text-decoration: none; color: inherit;}
html{scroll-behavior: smooth;}


/*HEADER*/
header{
    width: 100%;
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    z-index: 10;}

header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px; 
    background: linear-gradient(to bottom, rgba(255,255,255,0.1), rgba(255,255,255,0));
    pointer-events: none;}

.logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    border: 1px solid #1b3f1d;}

.logo img{
    width: 60%;
    height: 100%;
    object-fit: contain;}

.menu{
    list-style: none;
    display: flex;
    gap: 15px;}

.menu a{
    display: inline-block;
    padding: 8px 18px;
    border-radius: 25px;
    border: 1px solid #1b3f1d;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    color: #1b3f1d;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;}

.menu a:hover{
    color: white;
    background: #1b3f1d;}

.mobile{
    display: none;
    text-align: right;
    padding: 5px 10px;
}

.mobile img {
    width: 40px;
    height: auto;
    cursor: pointer;}


/*HERO*/

.hero{
    margin-top: 60px;
    position: relative;
    text-align: center;}

.hero-wrapper{
    width: 100%;
    }

.hero-img{
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;}

.btn-inscrever{
    position: absolute;
    top: 73%;  
    left: 50%;  
    transform: translate(-50%, -50%);
    background-color: #75c84c;
    padding: 15px 35px;
    border-radius: 25px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    transition: 0.3s;}

.btn-inscrever:hover{
    color: white;
    background: #1b3f1d;}


/*PROGRAMA GERAL*/
.programa-geral{
    text-align: center;
    padding: 50px 0;}

.programa-geral h2{
    color: #25a355;
    font-size: 28px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 25px;}

.etiqueta{
    width: 300px;
    height: 80px;
    margin: 0 auto 20px auto;
    background-image: url("../images/caixaverde.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0 3px 6px rgba(0,0,0,0.2));
    transition: transform 0.3s;}

.etiqueta:hover {
    transform: scale(1.1);
}

h3{
    color: white;
}

.ilustracao img {
    width: 100%;      
    max-width: 1000px;
    display: block;
    margin: 0 auto 0 auto;
    }

.activities{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;          
    justify-content: center;  
    gap: 25px;}

.activities p{
    font-size: 20px;
    color: #25a355;
    font-weight: 600;}

/*VIDEO*/
.video-container{
    width: 100%;
    height: 450px; 
    overflow: hidden;
    margin: 40px auto;
}

.video-container video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/*CARROSSEL*/
h2.titulo {
    text-align: center;
    color: #25a355;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 60px;
    margin-top: 40px;}

.carrossel {
  overflow: hidden;
  width: 100%;
  position: relative;}

.carrossel-track {
  display: flex;
  animation: scroll 30s linear infinite;
  width: calc(200%);}

.palestrante {
  flex: 0 0 10%;
  display: flex;
  justify-content: center;
  padding: 4.8px;
  margin-bottom: 20px}

.card {
  background: #8cc63f;
  border-radius: 25px;
  overflow: hidden;
  width: 100%;
  max-width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);}

.card img {
  width: 100%;
  height: 280px;
  object-fit: cover; 
  display: block;}

.card .info {
  padding: 16px 12.8px;
  color: white;}

.card h3 {
  margin: 0;
  font-size: 19px;}

.card p {
  font-size: 15px;
  margin: 5px 0 0;}

/*ANIMAÇÃO*/
@keyframes scroll {
  0% {transform: translateX(0);}
  100% {transform: translateX(-50%);}}


/*FORMULARIO*/
.formulario {
  text-align: center;
  margin: 80px auto;
  max-width: 900px;
  padding: 0 20px;
}

.formulario h2 {
  color: #2d8a3d; 
  font-weight: 700;
  margin-bottom: 30px;
}

.form-box {
  background-color: #8cc63f;
  padding: 40px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.linha {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.campo {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.campo label {
  color: white;
  font-weight: 500;
  margin-bottom: 8px;
}

.campo input,
.campo select {
  background-color: white;
  border: none;
  border-radius: 10px;
  padding: 14px 16px;
  font-size: 16px;
  color: #bbb;
  width: 100%;
}

.campo input::placeholder {
  color: #bbb;
}

.btn {
  align-self: flex-end;
  background-color: #10491c;
  color: white;
  font-weight: 600;
  padding: 14px 36px;
  border: 3px;
  border-radius: 14px;
  font-size: 16px;
  transition: 0.3s ease;
}

.btn:hover {
  background-color: white;
  color: #10491c;
  border: #10491c;
}


/*PARCEIROS*/
.parceiros {
  text-align: center;
  padding: 5px 50px 80px;
  background: #fff;
}

.parceiros h2 {
  color: #2d8a3d;
  font-weight: 700;
  margin-bottom: 30px;
}

.parceiros .logos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.parceiros .logos img {
  max-height: 40px;
  width: auto;
  opacity: 0.9;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.parceiros .logos img:hover {
  transform: scale(1.1);
  opacity: 1;
}

/*FOOTER*/
.footer{
    background: #8db58f;
    padding: 60px 0 30px 0;
    text-align: center;
}

.footer-container{
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer h3{
    color: #1b3f1d;
    font-size: 20px;
    margin-bottom: 20px;
}

/*COLUNA ESQUERDA*/
.footer-left p{
    font-size: 16px;
    color: #1b3f1d;
    margin-bottom: 20px;
}

.social{
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
    gap: 20px;
    margin-bottom: 25px;
}

.social img{
    width: 40px;
    height: 40px;
    transition: 0.3s;
}

.social a img:hover{
    transform: scale(1.15);
    opacity: 0.8;
}

.legal{
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.legal li{
    margin-bottom: 5px;
}

.legal a{
    text-decoration: none;
    color: #1b3f1d;
    font-size: 14px;
}

/*COLUNA DIREITA*/
.candidaturas{
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.candidaturas li{
    margin-bottom: 6px;
    color: #1b3f1d;
}

.btn-form{
    background: #1b3f1d;
    color: white;
    padding: 12px 28px;
    border-radius: 12px;
    text-decoration: none;
    font-size: 15px;
    transition: 0.3s;
    font-weight: 600;
}

.btn-form:hover{
    background: white;
    color: #1b3f1d;
    }

.copy{
    margin-top: 40px;
    font-size: 14px;
    color: #1b3f1d;
}

/*RESPONSIVIDADE MOBILE */
@media screen and (max-width:480px) {
   
    .menu { display: none; }

    .logo{
    width: 37px;
    height: 37px;}

    .mobile {
        display: block;
        text-align: right;
    }

    .mobile img {
        width: 25px;
        height: auto;
        cursor: pointer;
    }

    .menu { padding: 5px 20px; }

    .programa-geral{
        padding: 30px 10px 0;}

    .programa-geral h2{
        font-size: 20px;
        margin-top: 5px;
        margin-bottom: 17px;}

    .hero{
        margin-top: 70px;}
    
    .btn-inscrever{
        padding: 10px 30px;
        font-size: 14px;}
   
    .activities{
        gap: 10px;
        padding: 0 10px;}

    .activities p{
        font-size: 15px;}
        
    .etiqueta{
        width: 270px;
        height: 50px;
        pointer-events: none}

    h3{
        font-size: 14px;}

    .video-container{
    margin: 30px auto;}

    h2.titulo {
    font-size: 20px;
    margin-bottom: 40px;
    margin-top: 20px;}


    .carrossel-track {
    animation: scroll 24s linear infinite;
    width: calc(500%);}


    .card {
    min-width: 200px;}

    .card h3 {
    font-size: 16px;}

    .card p {
    font-size: 12px;}

    .formulario h2 {
    font-size: 20px;}

    .formulario {
    margin: 40px auto;
    padding: 0 10px;
    max-width: 400px;
  }

    .form-box {
    padding: 25px;
    gap: 16px;
  }

  .linha {
    flex-direction: column;
    gap: 16px;
  }

  .campo input,
  .campo select {
    font-size: 14px;
    padding: 12px 14px;
  }

  .btn {
    width: 100%;
    align-self: center;
    padding: 14px 0;
    font-size: 15px;
  }

  .footer {
    padding: 40px 0 20px 0;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
  }

  .footer h3 {
    font-size: 18px;
  }

  .social img {
    width: 32px;
    height: 32px;
  }

  .btn-form {
    padding: 10px 24px;
    font-size: 14px;
  }

  .copy {
    margin-top: 25px;
    font-size: 13px;
  }
}

@media all and (max-width:768px){

    .programa-geral h2{
        font-size: 21px;}
    
    .etiqueta{
        width: 270px;
        height: 50px;
        pointer-events: none}

    h3{
        font-size: 14px;}
        
    .carrossel-track {
    animation: scroll 24s linear infinite;
    width: calc(350%);}


    .card {
    min-width: 200px;}

    .card h3 {
    font-size: 16px;}

    .card p {
    font-size: 12px;}
}

